.comment-author {
	.avatar {
		float: left;
		margin: 0 2em 0 0;
	}
	a {
		text-decoration: none;
	}
}
.comment-metadata {
	a {
		text-decoration: none;
	}
	.comment-edit-link {
		color: red;
		font-size: .8em;
	}
}
.reply {
	padding-bottom: 1em;
	a {
		color: #105f79;
	}
}
.commentlist {
	border-top: $border;
	li {
		padding: 1em 0;
		border-bottom: 1px solid #ddd;
		overflow: hidden;
		margin-bottom: 1em;
		&:last-child {
			border: none;
			margin-bottom: 0;
		}
		> ul {
			width: 100%;
			float: left;
		}
	}
}