nav.dropdown__menu{
	padding: 0 1em;
	&::after {
		content: "";
		clear: both;
		display: block;
	}
	@include phone {
		display: none;
		width: 100%;
		padding: 0;
		font-weight: 800;
	}
	ul {
		margin: 0;
		padding: 0;
	}
	li{
		margin: 0;
		padding:0;
		list-style-type: none;
		position: relative;
		float: left;
		transition: .3s all;
		border-right: 1px solid rgba(255,255,255,.15);
		&:last-child {
			border: none;
		}
		li {
			border-right: none;
		}
		@include phone {
			float: none;
			border-right: none;
		}
	}
	a {
		text-decoration: none;
		display:block;
		padding: 1em 2em;
		color: #fff;
		@include tablet {
			padding: 1em;
		}
		@include tablet-vertical {
			padding: 1em .5em;
		}
		@include phone {
			border-bottom: 1px solid rgba(255,255,255,.7);
			background-image: linear-gradient(transparent, rgba(0,0,0,.2));
		}
	}
}


nav.dropdown__menu ul li.active,
nav.dropdown__menu ul li.current-product-ancestor,
nav.dropdown__menu ul li.current-product_cat-ancestor,
nav.dropdown__menu ul li:hover
{
	background:rgba(0,0,0,.2);
}

nav.dropdown__menu li:hover a,
nav.dropdown__menu .active a {

}

nav.dropdown__menu li:hover li a,
nav.dropdown__menu .active li a {
color: #fff;
}

nav.dropdown__menu ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background: rgba(16, 95, 121,.9);
	padding:0;
	z-index: 100000;
	box-shadow: 0 3px 6px -3px #000;
	@include phone {
		display: block;
		position: relative;
		box-shadow: none;
	}
}

nav.dropdown__menu ul ul li
{
	float:none;
	min-width:10em;
	border-bottom: 1px solid rgba(255,255,255,.1);
	@include phone {
		width: 100%;
	}
}

nav.dropdown__menu ul ul a
{
	line-height:120%;
	padding:10px 15px;
		@include phone {
			padding: 1em 0 1em 4em;
		}
}

nav.dropdown__menu ul ul ul a {
	@include phone {
			padding: 1em 0 1em 6em;
		}
}

nav.dropdown__menu ul ul ul
{
	top:0;
	left:100%;
	@include phone {
		left: 0;
	}
}

nav.dropdown__menu ul li:hover > ul
{
	display:block;
}

li li.menu-item-has-children > a:after {
	content: "\25b8";
	float: right;
	@include phone {
		display: none;
	}
}