.top__menu__bar {
	width: 100%;
	background-color: $menu-bg;
	clear: both;
	nav {
		@extend .page-width;
	}
}
nav {
	ul {
		margin: 0;
		padding: 0;
	}
	li{
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	a{
		text-decoration: none;
	}
	&.woocommerce-pagination {
		li {
			float: left;
		}
	}
}
/* MoblieMenu Icon */
.menu__icon {
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 100000;
	display: none;
	@include phone {
		display: block;
	}
	.admin-bar & {
        top: 3.5rem;
    }
}

.icon-bar {
	display: block;
	width: 25px;
	height: 4px;
	background-color: rgba(0,0,0,.8);
	border-radius: 1px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	margin-top: 3px;
	cursor: pointer;
		&.mobile-menu-active {
		}
}