.post {
    border-bottom: $border;
    overflow: hidden;
    padding: 1em 0 0 0;
    img {
    	float: right;
    	margin: 0 0 1em 2em;
    	@include phone {
    		margin: 0 0 1em 0;
    		width: 100%;
    	}
    }
}
ul.blog-info {
    font-size: 80%;
    margin-bottom: 1em;
    line-height: 1.2;
    .type {
        opacity: .7;
    }
    .result {
        font-style: italic;
    }
    .forfatter {
        .result {
        font-weight: bold;
    }
    }
}