.social__icons {
	float: right;
	line-height: 21px;
	font-size: .85em;
	@include phone {
		display: none;
	}
	a {
		text-decoration: none;
		float: left;

		margin: 0 0 0 .5em;
		&:hover {
			img {
				transform: scale(.9);
			}
		}
	}
	img {
		float: left;
		margin-right: .25em;
		background-color: #fff;
		transition: .5s all;
		border-radius: .25em;
	}
}