.social__icons {
	float: right;
	line-height: 20px;
	font-size: .8em;
	@include phone {
		display: none;
	}
	a {
		text-decoration: none;
		float: left;
		padding: 0 1em 0 0;
		border: 1px solid rgba(0,0,0,.1);
		margin: 0 0 0 .5em;
		background: linear-gradient(#fff, #f2f2f2);
		border-radius: 0 5px 5px 0;
		&:hover {
			img {
				background: #B0D8DC;
			}
		}
	}
	img {
		float: left;
		margin-right: .25em;
		background-color: #fff;
		transition: .5s all;
	}
}