.top-bar {
	line-height: 2;
	justify-content: flex-end;
}
.top-bar-item {
	flex: 0 auto;
	margin-left: 1em;
	&.widget_hjemmesiderlogosmall {
		margin-left: 0;
		margin-right: auto;
	}
	@include phone {
		float: left;
		width: 100%;
		margin: 0 0 .5em 0;
	}
}
.top-bar.flex {
	@include phone {
		display: block;
	}
}