.woo-but {
	display: inline-block;
  padding: .5em 1.5em;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  border-radius: 0.3em;
  position: relative;
  background-color: #ccc;
  background-image: linear-gradient(to top, #083342, #8ba2b4);
  -webkit-backface-visibility: hidden;
  outline: none;
  z-index: 1;
	&:after {
		position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.3em;
  background-image: linear-gradient(to top, rgba(0,0,0,0.3), rgba(0,0,0,0.1));
  transition: opacity 0.5s ease-out;
  z-index: 2;
  opacity: 0;
	}
	&:hover:after {
  opacity: 1;
}
.related &, .upsells &, .cross-sells & {
	padding: .5em 1em;
}
}
.related {
	clear: both;
}
.woo-but2 {
	display: inline-block;
  padding: 1em 1.5em;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  border-radius: 0.3em;
  position: relative;
  background-color: #ccc;
  background-image: linear-gradient(to top, #164D08, #308B58);
  outline: none;
  border: none;
  &:hover {
  	 background-image: linear-gradient(to top, #0D2C05, #308B58);
  }
}

button[type=submit],
.add_to_cart_button  {
@extend .woo-but;
width: 100%;
border: none;
}
.single_add_to_cart_button {
	margin: 1em 0;
}
button[type="submit"]:disabled {
    background: red !important;
}
.reset_variations {
	display: none !important;
}
td.value {
	select {
		width: 100%;
	}
}
.product {
	position: relative;
}
ul.products {
	margin: 0 0 0 -1%;
	padding: 0;
	display: flex;
  flex-wrap: wrap;

    overflow: hidden;
    clear: both;
    @include phone {
    	margin: 0;
    }

		li{
			display: flex;
			flex-direction: column;
			margin: 0;
			padding: .5em;
			border: 1px solid #ddd;
			list-style-type: none;
			flex: 1 24%;
			max-width: 24%;
			margin-left: 1%;
			margin-bottom: 10px;
			overflow: hidden;
			position: relative;
			//border: 1px solid rgba(0,0,0,0.05);
			&.product-category {
				padding-bottom: .5%;
			}
			@include phone {
				flex: 1 100%;
				max-width: 100%;
				margin: 0 0 10px 0;
				img{
					width: 100%;				}
			}
		}
		a{
			text-decoration: none;
		}
		h3 {
			font-size: 1em;
			line-height: 1.1;
			margin: 0 0 .5em 0;
		}
		.button {
			clear: both;
			display: block;
			//position: absolute;
			text-align: center;
			//bottom: 2%;
			//left: 7%;
			//right: 7%;
			margin-top: auto;


			@include phone {
				position: relative;
				left: inherit;
				right: inherit;
				bottom: inherit;
			}
		}
		.price {
			margin: 1em 0 .5em 0;
			display: block;
			font-weight: bold;
			text-align: right;
			color: #083342;
		}
		mark{
			background: transparent;
			color: inherit;
		}

}
.related, .upsells {
	font-size: .8em;
	@include phone {
				display: none;
			}
	.products {
		li{
			width: 24%;
			max-width: 24%;
		}
	}
}
.cross-sells {
	.products {
		li{
			width: 15%;
			max-width: 15%;
			padding: 10px;
			@include phone {
				width: 49%;
				max-width: 49%;
			}
		}
	}
}
.onsale {
	position: absolute;
	left: 1em;
	top: 1em;
	padding: 1em;
	background: rgb(188, 177, 24);
	color: #fff;
	transform: rotate(-25deg);
	border-radius: 50%;
	.related &, .upsells & {
		padding: .5em;
	}
}
ul.product_list_widget {
	display: flex;
    display: flex;
  flex-wrap: wrap;
    line-height: 1.05;
    font-size: .75em;
    margin-left: -3%;
	li{
		flex-direction: column;
		flex: 1 30.3%;
			overflow: hidden;
			position: relative;
		max-width: 30.3%;
		margin-left: 3%;
		padding-bottom: 4%;
		margin-bottom: 4%;
		//background-image: linear-gradient( transparent, rgba(16, 108, 140, 0.29));
		border:1px solid rgba(0,0,0,.1);
	}
	a {
		border: none;
		padding: 0;
	}
	span {
		padding: 5%;
	}
	img {
		margin-bottom: 4%;
	}
}
aside .product_list_widget li {

}
aside .product_list_widget.cart_list li {
	width: 100%;
	max-width: 100%;
	background: inherit;
	border-bottom: 1px solid rgba(0,0,0,.05);
	&.empty {
		border: none;
	}
	img {
		width: 25%;
		float: left;
		margin: 0 .5em 0 0;
	}
	.variation {
		display: none;
	}
	a {
		font-weight: bold;
	}
	.remove {
		text-align: right;
	}
	> span{
		padding: .5em 0;
	}
}
.remove{
	color: red;
}
.woocommerce-breadcrumb {
	overflow: hidden;
	clear: both;
	padding: 0 0 1em 0;
	font-size: .75em;
  teext-transform: uppercase;
  @include phone {
  	display: none;
  }
}
.amount {
	font-weight: bold;
	aside &,
	div.products &{
		font-weight: normal;
	}
	del & {
		font-weight: normal;
	}
}
.woocommerce {
	ins {
		text-decoration: none;
	}
}
.product_list_widget {
	margin: 0;
	padding: 0
}

.images {
	float: left;
	width: 65%;
	img {
		border: 1px solid rgba(0,0,0,.1);
	}
	@include phone {
		width: 100%;
	}
}
.summary {
	float: right;
	width: 30%;
	@include phone {
		width: 100%;
	}
}
.woo__text {
	clear: both;
	padding: 1em 0;

}
/* Ordering */
.woocommerce-ordering {
	padding: 0 0 .5em 1.5em;
	float: right;
	clear: both;
	background: no-repeat left 6px url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIxMnB4IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxOCAxMiIgd2lkdGg9IjE4cHgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48dGl0bGUvPjxkZXNjLz48ZGVmcy8+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSI+PGcgZmlsbD0iIzAwMDAwMCIgaWQ9IkNvcmUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yNTUuMDAwMDAwLCAtNDI2LjAwMDAwMCkiPjxnIGlkPSJzb3J0IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyNTUuMDAwMDAwLCA0MjYuMDAwMDAwKSI+PHBhdGggZD0iTTAsMTIgTDYsMTIgTDYsMTAgTDAsMTAgTDAsMTIgTDAsMTIgWiBNMCwwIEwwLDIgTDE4LDIgTDE4LDAgTDAsMCBMMCwwIFogTTAsNyBMMTIsNyBMMTIsNSBMMCw1IEwwLDcgTDAsNyBaIiBpZD0iU2hhcGUiLz48L2c+PC9nPjwvZz48L3N2Zz4=');
	select {
		width: auto;
		height: auto;
		background: inherit;
		outline: inherit;
		border-color: #ddd;
		-webkit-appearance: menulist;
		-moz-appearance: menulist;
		appearance: menulist;
		background: none;
	}
}
.summary {
	select {
		width: auto;
		height: auto;
		background: inherit;
		outline: inherit;
		border-color: #ddd;
		-webkit-appearance: menulist;
		-moz-appearance: menulist;
		appearance: menulist;
	}
	td {
		border: none;
		display: block;
		padding: 0;
	}
	label {
		font-size: .7em;
		font-weight: bold;
		text-transform: uppercase;
		padding: 0 0 .25em 0;
	}
}
.woo__wp__list__title {
	font-weight: bold;
	border-bottom: $border;
	padding: 0 0 .5em 0;
}
.thumbnails {
	img{
		width: 20%;
	}
	a{
		margin-right: .4em;
	}
}
.added_to_cart,
.woocommerce-message {
	background: rgba(0, 128, 0, 0.7);
    color: #fff;
    padding: 1em;
    position: absolute;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0,0,0,.35);
    a {
    	color: #fff;
    }
    .woocommerce-cart & {
    	position: relative;
    	margin-bottom: .5em;
    }
}
.added_to_cart {
	top: .5em;
	left: .5em;
}
.woocommerce-error {
	border: 1px solid red;
	padding: 2em;
}

#customer_details,
#order_review {
	float: left;
	width: 50%;
	padding-right: 10%;
	@include phone {
		width: 100%;
		padding: 0;
	}
}
.shop__h1{
	margin: 0;
}
.shop__h2 {
	margin-top: .25em;
	text-transform: uppercase;
	font-size: 1em;
}
.product_title {
	font-weight: bold;
	text-transform: uppercase;
}
.woo__wpbase__bar {
	overflow: hidden;
	line-height: 2;
	padding: .5em 0;
	img {
		float: left;
		margin: 7px 5px 0 0;
	}
	a{
		text-decoration: none;
	}
	form {
		max-width: 300px;
		float: left;
		@include phone {
			max-width: inherit;
			float: none;
			clear: both;
		}
	}
	input[type=submit] {
		display: none;
	}
}
.coupon,
.checkout_coupon {
	max-width: 300px;
	input {
		width: 100%;
		margin: 0 0 .5em 0;
	}
	@include phone {
		max-width: inherit;
	}
}
.showcoupon {
	display: block;
}
.checkout_coupon {
	padding: .5em 0 0 0;
}
.woocommerce-page thead,
.cart-subtotal {
	background: #105f79;
	color: #fff;
	text-align: left;
}
.woocommerce-page th {
	text-align: left;
}
dl.variation {
	margin: 0;
	dt {
		float: left;
		color: #105F79;
	}
	dd {
		float: left;
		margin: 0 0 0 5px;
	}
}

input[name=apply_coupon],
input#place_order,
.checkout-button {
	@extend .woo-but2;
}
input#place_order {
	width: 100%;
	font-size: 1.2em;
}
input[name=update_cart] {
	float: right;
}
.cart_item img {
	max-width: 12%;
}

.woo__bar__messages {
	display: inline;
	color: #105f79;
	> strong,
	> div {
		display: inline;
	}
}
.qty {
	width: 50px;
}